*.log
streammd-metrics.json
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
config.status
configure
configure~
libtool
src/streammd
src/*.o
src/*.a
src/.deps/
tests/*.o
tests/*.a
tests/*.deps
tests/*.trs
tests/streammd_tests
